@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProTextRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProTextSemibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProTextBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
